.root {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 12px;
}

.root:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.title {
  color: var(--vscode-foreground);
}

.description {
  font-size: 10px;
  color: var(--vscode-descriptionForeground);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
