.root {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  margin-left: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--vscode-progressBar-background);
  animation: pulse 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    opacity: 0.4;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
